body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0b0d15;
    min-height: 100vh;
    align-content: center;
    color: antiquewhite;
}



.box{
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: #1c1f2b;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.box::after, .box::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;  
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
    animation: 4s spin linear infinite;
}


.box::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from {
        --angle: 0deg;
    }

    to{
        --angle: 360deg;
    }
}